<h1>Welcome to PositivelyCharged!, <%= @user.username %></h1>
  <p>
    It is a space where strangers can intersect and share a little positivity in this crazy world we live in!   
  </p>
<p>Thanks for joining and have a great day!</p>